In [3]:
# Variables

a = 14
print(a)

14

In [5]:
b = "Hello World"
print(b)

Hello World

# This is a note

In [6]:
c = 10
print(a + c)

24

In [7]:
a = 20
print(c + a)

30

In [10]:
type(b)

str

In [11]:
a = True
print(a)
print(type(a))

True
<class 'bool'>

In [13]:
a = 7
type(a)

int

In [14]:
x = 15
y = 4
z = x + y
print(z)
print(type(z))

19
<class 'int'>

In [17]:
x = "101"
y = "2"
z = x + y
print(z)
print(type(z))

1012
<class 'str'>

# Array or List Variables

In [18]:
# A Simple array or integers
a = [1, 2, 3]
print(a)

[1, 2, 3]

In [19]:
# Stroing variables of different types is possible
b = ["Text", 4, 2.5]
print(b)

['Text', 4, 2.5]

In [22]:
print(b[2])

2.5

In [23]:
a.append(4)

In [24]:
a

[1, 2, 3, 4]

In [25]:
len(a)

4

In [26]:
a[0] = 5
a

[5, 2, 3, 4]

In [27]:
# Slicing lists is a technique used to get elements from, before, or between different indices
print("All elements: ", a[:])

All elements:  [5, 2, 3, 4]

In [28]:
print("All elements from the 3rd position onward: ", a[2:])

All elements from the 3rd position onward:  [3, 4]

In [29]:
print("All elements between the 2nd and 4th position: ", a[1:3])

All elements between the 2nd and 4th position:  [2, 3]

In [30]:
print("All elements before the last position", a[:-1])

All elements before the last position [5, 2, 3]

# Dictionaries

In [33]:
# Creating a dictionary
country_info = {"name" : "Japan", "capital": "Tokyo"}
print(country_info)
print(country_info["name"])
print(country_info["capital"])

{'name': 'Japan', 'capital': 'Tokyo'}
Japan
Tokyo

In [34]:
# We can store multiple values and easily add information to our dictionary

country_info['population'] = '126.8M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '126.8M'}

In [35]:
country_info['population'] = '100M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M'}

In [36]:
country_info['regions'] = ['Hookaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hookaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']}

In [37]:
country_info['health'] = {"life_expectancy": 84.1, "birth_rate": 1.44}
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hookaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

In [40]:
country_info["health"]["life_expectancy"]

84.1

In [41]:
country_info.keys()

dict_keys(['name', 'capital', 'population', 'regions', 'health'])

In [42]:
country_info.values()

dict_values(['Japan', 'Tokyo', '100M', ['Hookaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], {'life_expectancy': 84.1, 'birth_rate': 1.44}])

# Conditional Statements - If & Else

In [47]:
x = 10
if x <= 10:
  print("less than 10")
else:
  print("over 10")

less than 10

In [50]:
x = 16
if x < 10:
  print("less than 10")
elif x > 10 and x < 19:
  print("greater than ten but less than 19")
else:
  print("over 20")

greater than ten but less than 19

In [53]:
# Using booleans of conditional statements

a = False
if a == True:
  print("statement was true")

# Loops

In [57]:
list(range(1, 5))

[1, 2, 3, 4]

In [59]:
for i in range(0, 5):
  print(i)

0
1
2
3
4

In [60]:
items = ['a', 'b', 'c', 'd']
for item in items:
  print(item)

a
b
c
d

In [61]:
x = 0
x

0

In [64]:
x = x + 1
x

2

In [65]:
# Incrementing values in loops and storing them in a list

x = 0
collecting_values_of_x = []
items = ['a', 'b', 'c', 'd']
for item in items:
  x += 1
  print(x, item)
  collecting_values_of_x.append(x)
print(collecting_values_of_x)

1 a
2 b
3 c
4 d
[1, 2, 3, 4]

In [67]:
# While loops
x = 0
while x < 5:
  x += 1
  print(x)

1
2
3
4
5

In [68]:
# While loops
x = 0
while True:
  if x == 5:
    break
  x += 1
  print(x)

1
2
3
4
5

# Functions

In [69]:
print("this is print")

this is print

In [76]:
def areaCircle(radius):
  print(radius)
  return 3.14 * (radius**2)

In [77]:
areaCircle(5)

5

78.5

In [5]:
def volumeCylinder(radius, height):
  volume = 3.14 * radius**2 * height;
  return volume

In [3]:
volumeCylinder(radius = 5, height = 6)

471.0

In [4]:
volumeCylinder(5, 6)

471.0

In [7]:
def volumeCylinder(radius, height = 3):
  volume = 3.14 * radius**2 * height;
  return volume

In [9]:
volumeCylinder(5, 10)

785.0

# Classes

In [31]:
class Book(object):
  """ Class object for books """

  def __init__(self, title, author):
    """ Initializes a new book """
    self.title = title
    self.author = author

  def __str__(self):
    return self.title

  def change_book_name(self, new_name):
    self.title = new_name

In [32]:
my_book = Book(title = "This is a good book", author = "Rajeev Ratan")

In [33]:
print(my_book)

This is a good book

In [34]:
my_book.change_book_name(new_name = "Data Science Book 1")
print(my_book)

Data Science Book 1

In [35]:
my_book.author

'Rajeev Ratan'