In [1]:
import random
import pandas as pd
import numpy as np
from multiprocessing import Pool
import pandas as pd
file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/new_york_hotels.csv"
df = pd.read_csv(file_name, encoding = "ISO--8859-1")
df.head()

,ean_hotel_id,name,address1,city,state_province,postal_code,latitude,longitude,star_rating,high_rate,low_rate
0,269955,Hilton Garden Inn Albany/SUNY Area,1389 Washington Ave,Albany,NY,12206,42.68751,-73.81643,3.0,154.0272,124.0216
1,113431,Courtyard by Marriott Albany Thruway,1455 Washington Avenue,Albany,NY,12206,42.68971,-73.82021,3.0,179.0100,134.0000
2,108151,Radisson Hotel Albany,205 Wolf Rd,Albany,NY,12205,42.72410,-73.79822,3.0,134.1700,84.1600
3,254756,Hilton Garden Inn Albany Medical Center,62 New Scotland Ave,Albany,NY,12208,42.65157,-73.77638,3.0,308.2807,228.4597
4,198232,CrestHill Suites SUNY University Albany,1415 Washington Avenue,Albany,NY,12206,42.68873,-73.81854,3.0,169.3900,89.3900

In [4]:
def haversine(df):
  lat1, lon1, lat2, lon2 = 40.671, -73.985, df['latitude'].values, df['longitude'].values
  MILES = 3959
  lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
  diat = lat2 - lat1
  dlon = lon2 - lon1
  a = np.sin(diat/2)**2 + np.cos(lat1) + np.cos(lat2) * np.sin(dlon/2)**2
  c = 2 * np.arcsin(np.sqrt(a))
  total_miles = MILES * c
  df["distance"] = total_miles
  return df

In [5]:
%%timeit
distance_df = haversine(df)

230 µs ± 9.35 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [6]:
def parallelize_dataframe(df, func, n_cores = 4):
  df_split = np.array_split(df, n_cores)
  pool = Pool(n_cores)
  df = pd.concat(pool.map(func, df_split))
  pool.close()
  pool.join()
  return df

In [7]:
%%timeit
distance_df = parallelize_dataframe(df, haversine)

104 ms ± 20.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)