# Advanced Pandas techniques to boost performance!

https://engineering.upside.com/a-beginners-guide-to-optimizing-pandas-code-for-speed-c09ef2c6a4d6

Pycon Presentation - https://www.youtube.com/watch?v=HN5d490_KKk

We'll test and compare different methods of applying functions to pandas dataframes.
The function we'll be testing is the Haversine Distance formular which takes the cordinates of two points (lattitude and longitude) and calculates the straight line distance

In [41]:
import numpy as np
def haversine(lat1, lon1, lat2, lon2):
  MILES = 3959
  lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
  diat = lat2 - lat1
  dion = lon2 - lon1
  a = np.sin(diat/2)**2 + np.cos(lat1) + np.cos(lat2) * np.sin(dion/2)**2
  c = 2 * np.arcsin(np.sqrt(a))
  total_miles = MILES * c
  return total_miles

## Remember, everytime you loop in Pandas a kitten dies.
Not really, but it's you who'll be suffering and I'll show you why

# Let's loop though a dataframe of cordinates and return a series with these distences

In [27]:
def haversine_looping(df):
  distance_list = []
  for i in range(0, len(df)):
    d = haversine(40.671, -73.985, df.iloc[i]['latitude'], df.iloc[i]['longitude'])
    distance_list.append(d)
  return distance_list

In [28]:
import pandas as pd
file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/new_york_hotels.csv"
df = pd.read_csv(file_name, encoding = "ISO-8859-1")
df.head()

,ean_hotel_id,name,address1,city,state_province,postal_code,latitude,longitude,star_rating,high_rate,low_rate
0,269955,Hilton Garden Inn Albany/SUNY Area,1389 Washington Ave,Albany,NY,12206,42.68751,-73.81643,3.0,154.0272,124.0216
1,113431,Courtyard by Marriott Albany Thruway,1455 Washington Avenue,Albany,NY,12206,42.68971,-73.82021,3.0,179.0100,134.0000
2,108151,Radisson Hotel Albany,205 Wolf Rd,Albany,NY,12205,42.72410,-73.79822,3.0,134.1700,84.1600
3,254756,Hilton Garden Inn Albany Medical Center,62 New Scotland Ave,Albany,NY,12208,42.65157,-73.77638,3.0,308.2807,228.4597
4,198232,CrestHill Suites SUNY University Albany,1415 Washington Avenue,Albany,NY,12206,42.68873,-73.81854,3.0,169.3900,89.3900

In [29]:
df.shape

(1631, 11)

In [30]:
%%timeit
df['distance'] = haversine_looping(df)

311 ms ± 70.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Looping with iterrows()

In [31]:
%%timeit
haversine_series = []
for index,row in df.iterrows():
  haversine_series.append(haversine(40.671, -73.985, row['latitude'], row['longitude']))
df['distance'] = haversine_series

78.5 ms ± 772 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

## We got a 300% improvement! But can we get it any faster?

In [33]:
%%timeit
df['distance'] = df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis = 1)

25.9 ms ± 634 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

### We went from 600ms to 60ms, a ten fold increase in speed!

In [42]:
!pip install line_profiler
%load_ext line_profiler
%lprun -f haversine df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis = 1)

Requirement already satisfied: line_profiler in /usr/local/lib/python3.10/dist-packages (4.1.2)
The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

### We can note two things from the output.
1. Line 9 our trigonometric calcuation accounts for the bulk of our processing time, understandably so.
2. Each line is being hit 1631 times, that is because we're still **looping** so we iterate through every row in our dataframe

# Now for Vectorization!

- We've only been passing scalars to our Haversine function. Fortunately, all of the functions being used within the Haversine function, are also able to operate on arrays.
- This makes the process of vectorizing our distance function quite simple as we can pass the entire series (columns) to it, performing all the calculations on the entire array simultaneously.

![alt text](https://github.com/rajeevratan84/datascienceforbusiness/blob/master/vectorization.png?raw=true)

In [37]:
%%timeit
df['distance'] = haversine(40.671, -73.985, df['latitude'], df['longitude'])

1.32 ms ± 134 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [38]:
%lprun -f haversine df['distance'] = haversine(40.671, -73.985, df['latitude'], df['longitude'])

We can see that each line is hit once! exactly what we wanted, however, line 9 still accounts for the bulk of our proessing time. Can that be sped up?

## Let's use numpy vetorization instead of pandas

In [40]:
%%timeit
df['distance'] = haversine(40.671, -73.985, df['latitude'].values, df['longitude'].values)

179 µs ± 9.35 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

# So we went from 609 ms using regular for loops, to 275 µs (or 0.275ms)!!! A 2000 fold increase in performance!